.animePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  background-color: #1e1e1e; // Темный фон
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 30%; // Увеличиваем ширину изображения
  height: 500px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover .image {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Затемнение при наведении
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%; // Увеличиваем ширину информационного блока
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre {
  background-color: #363535;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
